* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  background: #fcfcfc;
}

.header {
  background: #1b1626;
}
body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1043%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(239%2c 237%2c 243%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c593.851C106.702%2c566.468%2c150.574%2c437.493%2c247.417%2c384.989C356.647%2c325.77%2c523.46%2c373.427%2c594.543%2c271.519C663.562%2c172.569%2c599.59%2c35.328%2c573.464%2c-82.452C549.109%2c-192.246%2c524.862%2c-306.085%2c448.17%2c-388.342C372.739%2c-469.247%2c263.498%2c-505.41%2c155.76%2c-530.47C52.7%2c-554.442%2c-54.264%2c-560.317%2c-155.24%2c-528.697C-255.121%2c-497.419%2c-337.792%2c-431.143%2c-408.335%2c-353.824C-480.317%2c-274.928%2c-532.881%2c-183.309%2c-563.667%2c-81.043C-598.502%2c34.675%2c-637.191%2c158.663%2c-596.91%2c272.6C-555.502%2c389.723%2c-454.535%2c478.182%2c-345.144%2c537.055C-240.351%2c593.454%2c-115.271%2c623.432%2c0%2c593.851' fill='%23e2dfe9'%3e%3c/path%3e%3cpath d='M1440 1062.354C1560.231 1072.241 1680.2069999999999 1153.307 1791.723 1107.292 1905.749 1060.241 1969.762 937.489 2017.873 823.906 2065.103 712.404 2091.4719999999998 587.953 2061.386 470.658 2032.623 358.523 1940.511 278.908 1857.407 198.315 1780.75 123.97300000000001 1698.815 57.02499999999998 1598.144 21.409999999999968 1493.451-15.628000000000043 1377.283-46.85400000000004 1273.103-8.398000000000025 1170.755 29.381999999999948 1115.5059999999999 134.99400000000003 1051.363 223.24400000000003 992.4 304.36699999999996 926.929 384.938 914.851 484.495 902.895 583.045 951.068 674.469 985.319 767.646 1022.471 868.7149999999999 1033.228 993.779 1123.588 1052.347 1213.968 1110.9279999999999 1332.657 1053.527 1440 1062.354' fill='%23fcfbfd'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1043'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hover-pointer:hover {
  cursor: pointer;
  opacity: 0.8;
}

.line-through {
  text-decoration: line-through;
}

.decor-none {
  text-decoration: none;
}

.link-decor {
  text-decoration: none;
  cursor: pointer;
}

.link-decor:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.7;
}

.navbar-toggler {
  /* border: 2.5px solid #f1f1f1; */
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
}

.bg-transparent {
  background: transparent;
}

.outline-none {
  outline: none;
  border: none;
}

.opacity-5 {
  background: rgba(255, 255, 255, 0.6);
}

.opacity-8-item {
  background: rgba(255, 255, 255, 0.8);
}

.border-bottom-in {
  border-bottom: 1px solid rgb(180, 180, 180);
}

.userbar {
  position: sticky;
  height: 100%;
  min-height: 100vh;
}

.glow {
  box-shadow: 0 0 20px rgb(247, 255, 192);
}

.userIcon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* Alert animation */
.AlertAnimation-enter {
  opacity: 0;
  transform: scale(0.5);
}
.AlertAnimation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 500ms;
}
.AlertAnimation-exit {
  opacity: 1;
}
.AlertAnimation-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 300ms, transform 300ms;
}
/* ----- */

/* Item Animation */
.ItemAnimation-enter {
  opacity: 0;
  transform: scale(0.5);
}
.ItemAnimation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 500ms;
}
.ItemAnimation-exit {
  opacity: 1;
}
.ItemAnimation-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 300ms, transform 300ms;
}
/* ---- */

/* User Bar Animation */
.UserbarAnimation-enter {
  opacity: 0;
  transform: translateX(-50);
}
.UserbarAnimation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 500ms;
}
.UserbarAnimation-exit {
  opacity: 1;
}
.UserbarAnimation-exit-active {
  opacity: 0;
  transform: translateX(-50);
  transition: opacity 300ms, transform 300ms;
}
/* ---- */
